.VirtualScrollList {
  width: 100%;
  height: 100%;
  flex: 1 0 0;
  overflow: hidden;
  background-color: #000;
}

.VirtualScrollList > * {
  position: absolute;
  width: 100%;
  border: solid 2px #de9f00;
  border-radius: 8px;
}
